:root {
    --navy: #000e54;
    --beige: #f5f5dc;
}

header {
    display: flex;
    padding: 1%;
    background-color: var(--navy);
    color: var(--beige);
    font-family: serif;
}

header a {
    color: var(--beige);
}

main {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
}

body {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    background-color: var(--beige);
    font-family: serif;
    color: var(--navy);
}

nav {
    display: flex;
    background-color: var(--navy);
    flex-wrap: wrap;
}

ul {
    display: inline-flex;
}

nav li {
    margin-left: 20px;
}

nav a {
    font-weight: bold;
    background-color: var(--navy);
    color: var(--beige);
}

nav li:hover {
    color: white;
    background-color: #48000a;
    
}

.titles {
    color: var(--navy);
    text-align: center;
    padding: 50px;
}


.intro {
    padding: 5px;
    color: var(--navy);
    margin-left: 100px;
    height: 300px;
    width: 1200px;
}

.intro img {
    height: auto;
    width: auto;
    display: block;
    margin-bottom: 20px;
    float: left;
    margin-top: 20px;
    margin-right: 50px;
    max-width: 200px;
    max-height: 250px;
}

.work {
    color: var(--navy);
    margin-bottom: 100px; 
    padding: 5px;
    margin-left: 80px;
}

.p1:hover {
    background-color: #48000a;
    color: var(--beige);
}

.work h3 {
    background-color: var(--beige);
    color: var(--navy);
}

.p1 {
    background-color: var(--navy);
    color: var(--beige);
    width: 400px;
    display: inline-block;
    height: 300px;
    margin: 20px;
}

#w3 {
    margin-top: 50px;
    margin-left: 100px;
}

.contact {
    color: var(--navy);
    height: 300px;
    width: 1200px;
    margin-left: 100px;
    padding: 5px;

}


h1 {
    font-size: 200%;
}

h2 {
    font-size: 170%;
    color: #48000a;
}

h3 {
    font-size: 150%;
}

p {
    font-size: 20px;
    line-height: 2;
}

a {
    color: var(--navy);
    text-decoration: none;
}

@media screen and (max-width: 768px) {
    main,
    nav {
      flex-direction: column;
    }
  }

  @media screen and (max-width: 1000px) {
    .work {
        display: flex;
        flex-wrap:wrap;
        justify-content: center;
    }

    .p1 {
        width: 80%;
    }
  }

  @media screen and (max-width: 1400px) {
    .work {
        display: flex;
        flex-wrap:wrap;
        justify-content: center;
    }

    .p1 {
        width: 100%;
    }
  }